$green: #72ac51;
$dark-green: #47752d;
$white: white;
$background-gray: #ebebeb;
$text-dark-gray: #1b1b1b;
$text-light-gray: #565656;

body {
    font-family: 'Open Sans', sans-serif;
    color: $text-dark-gray;
    background-color: $background-gray;
}

a {
    text-decoration: inherit;
    color: inherit;
}




.top-header {
    background: $white;
    height: 75px;

    .content {
        max-width: 480px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 15px 0;

        .menu {
            margin-left: auto;
            display: flex;
            height: 40px;
            width: 40px;
            .img {
                width: 100%;
            }
        }
    }

}

.page-content {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 0 30p;
    display: flex;
    flex-direction: column;
    column-gap: 20px;

    .title-card {
            font-size: 18px;
            font-weight: 400;
            color: $text-light-gray;
        }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .card {
            background-color: $white;
            padding: 10px 20px;

            .title {
                font-weight: 600;
                font-size: 20px;
            }

            .illustration {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 150px;
                margin-left: -30px;
                margin-right: -30px;
            }
        }
    }
    
}
